.topo{
        display:inline-block;
        width:100%;
        height:80px;
        background-color:#135656;
        border-radius:5px;
}
.opc{
        text-align:center;
        list-style:none;
        margin-left:-60px;
        margin-top:20px;;
}
.opc li{
        text-transform:uppercase;
        display:inline-block;
        padding: 15px;
        font-family:'Montserrat', sans-serif;
        margin-right: 20px;
}
.opc a li{
        background-color:#fff;
        color: #0c6d51;
        padding:10px;
        border-radius:5px;
        text-decoration:none;
        width:200px;
}
.opc a li:hover{
        background-color:#2f7a7a;
        color:#fff;
}
.tabela {
        display:inline-block;
        width:100%;
        height:550px;
        background-color:#1e7c7c;
        border-radius:5px;
        margin-top:10px;
}
.tabela td{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: #e7f0f0;
	color: #135656;
}
.tabela th{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: #135656;
	color: #fff;
}
h1{
	color: #fff;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
table{
	width: 90%;
}
#pre{
        position:relative;
        font-size:15px;
        margin-top:-5px;;
        font-family:'Montserrat', sans-serif;
}
#pre a{
        color:#fff;
}	
#pre a:hover{
        color:#fff400;
}
.rodape{
     display:inline-block;
     width:100%;
     height: 130px;
     background-color:#135656;
     text-align:center;
     border-radius: 5px;
     margin-top:5px;
}
#cp{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 15px;
       margin-top:45px;
}
