.conteudo{
	display: inline-block;
	background-color: #0c6d51;
	width: 1200px;
	height: 550px;
	border-radius: 10px;
	box-shadow: 5px 5px 7px 2px;
	position: absolute;
	left: 0; 
	right: 0;
	margin: auto;
}
.conteudo table{
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	border-style: none;
	width: 1100px;
	height: 400px;
	background-color:#fff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.conteudo table a{
	color: #0c6d51;
}
.conteudo h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	margin-top: 25px;
}
#prof2{
	background-color: #6ca091;
	color: #04271c;
}
#prof{
	background-color: #b5cfc8;
	color:#04271c;
}
#cp{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 15px;
}